@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Varela', sans-serif;
    height: 100vh;
    background: linear-gradient(rgba(90, 16, 16, 0.2)),url("/metsedes.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}
.hidden{
    display: none;
}
.btn{
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.showbtn{
    background: #fff;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}
.showbtnn:hover{
    background-color: aqua;
}
.modal{
    position: fixed;
    max-width: 600px;
    width: 100%;
    padding: 15px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate((-50%,-50%));
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.modalheader{
    display: flex;
    justify-content: space-between;
    h2{
        margin-bottom: 15px;
    }
}
.btn-close{
    color: #a96705;
    font-size: 20px;
    border: none;
    margin-bottom: 30px;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0,5);
    backdrop-filter: blur(5px);
}
.modalbody h2{
    color: #a96705;;
}